* {
    font-family: 'Montserrat';
}

section.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: absolute;
    top: -100vh;
    left: 0;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 230px 0 0 0;
    min-height: auto;
    z-index: 5;
    top: 0;
    left: 0;
}

#home div.waves-container {
    width: 100%;
    height: 230px;
    z-index: 3;
}

#waves {
    width: 100% !important;
    z-index: 3;
}

#welcome {
    margin: 0 0 -20px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 2;
}

#guitar {
    margin: 25px 0 0 0;
    width: 100%;
    height: auto;
}

#guitar div hr {
    border-color: #28B2F0;
    width: 100%;
}

#guitar div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: auto;
    width: 100%;
}

#reserve-button {
    margin: -155px 0 0 0;
    z-index: 2;
}

#how-works {
    margin: 130px 0 0 0;
}

#login,
#register {
    width: 100%;
    justify-content: center;
    background-color: white;
    z-index: 5;
}

#login.active,
#register.active {
    display: flex;
}

#login-form,
#register-form {
    width: 35%;
}

#back-home-button {
    margin: 30px 0 0 0;
}

#sidebar {
    display: flex;
    width: 350px;
    min-height: 100vh;
    padding: 35px 35px;
    background-color: #F8F8F8;
    flex-direction: column;
    align-items: flex-start;
}

#sidebar #hello {
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sidebar #hello span {
    cursor: default;
}

#sidebar #hello span:nth-child(2) {
    margin: 0 0 0 3px;
    font-size: 1.15em;
}

#sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sidebar nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

#sidebar nav ul li {
    padding: 5.5px 0;
}

#sidebar nav ul li a,
#sidebar nav ul li a:link {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 0.9em;
    transition: 100ms ease-in;
}

#sidebar nav #menu li a:hover,
#sidebar nav ul li a.active {
    color: #28B2F0;
    transition: 100ms ease-in;
}

#sidebar nav #exit li a:hover {
    color: rgb(145, 18, 18);
    transition: 100ms ease-in;
}

#sidebar nav ul li a:hover::after,
#sidebar nav ul li a.active::after {
    content: "___";
    margin: -15px 0 -6px 0;
    letter-spacing: 0px;
    font-weight: 800;
    animation: fadeIn 100ms ease-in;
}

#sidebar nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

body#user {
    display: flex;
}

section.user-page.active {
    display: flex;
}

section.user-page {
    flex: 1;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

section.user-page .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

section.user-page .top h3 {
    display: flex;
    flex-direction: column;
}

section.user-page .top h3::after {
    content: "__";
    margin: -25px 0 0 0;
    letter-spacing: 0px;
    font-weight: 800;
}

#profile #profile-form,
#reserve #reserve-form {
    width: 50%;
    margin: 35px 0 0 0;
}

#instruments-container,
#reservations-container {
    margin: 35px 0 0 0;
    width: 100%;
}

#instruments-container table tbody tr td:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#instruments-container table tbody tr td span {
    margin: 0 5px 0 0;
}

#reservations-container table tbody tr td:last-child {
    font-size: 0.9em;
} 

/* OBJECTS */
.form-group {
    display: flex;
    flex-direction: column-reverse;
    margin: -5px 0;
}

input:placeholder-shown ~ label {
    top: 35;
}

label {
    position: relative;
    width: fit-content;
    margin: 0 25px;
    font-size: 0.9em;
    padding: 0 5px;
    cursor: text;
    transition: 300ms cubic-bezier(.35,.37,.16,.99);
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: 10px;
    font-size: 0.85em;
    color: #28B2F0;
    background-color: white;
    transition: 300ms cubic-bezier(.35,.37,.16,.99);
}

input,
select {
    width: 100%;
    height: 50px;
    padding: 10px 25px;
    border: 1px solid #A2A2A2;
    border-radius: 30px;
    transition: 300ms cubic-bezier(.35,.37,.16,.99);
}

select {
    margin: 15px 0 0 0;
    background-color: transparent;
}

input:focus,
input:not(:placeholder-shown) {
    outline: none;
    border-color: #28B2F0;
    transition: 300ms cubic-bezier(.35,.37,.16,.99);
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    font-size: 0.9em;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    transition: 200ms ease-in;
    background: -webkit-linear-gradient(0deg, #28B2F0 0%,#2CD1ED 33%,#38E7E4 66%,#3DEFE1 100%);
}

button:hover,
button:focus {
    -webkit-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.35);
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.35);
    transition: 200ms ease-in; 
}

button:focus {
    outline: none;
}

a:link {
    text-decoration: none;
}

table {
    width: 100%;
}

table thead tr {
    border-bottom: 2px solid #A2A2A2;
}

table thead tr td {
    font-size: 0.85em;
    letter-spacing: 1px;
    padding: 10px 0;
}

table tbody {
    font-size: 0.95em;
}

table tbody tr {
    border-bottom: 1px solid black;
    transition: 100ms ease-in;
}

table tbody tr:hover {
    background-color: #F8F8F8;
    transition: 100ms ease-in;
}

table tbody tr td {
    padding: 10px;
}


/* COMMON CLASSES */

.behind {
    z-index: 1;
    display: none;
}

.logo {
    text-align: center;
    font-size: 3.5em;
    letter-spacing: -5px;
    z-index: 2;
    background: -webkit-linear-gradient(0deg, #28B2F0 0%,#2CD1ED 33%,#38E7E4 66%,#3DEFE1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.logo::before {
    content: 'nu';
    text-transform: uppercase;
    font-weight: 200;
}

.logo::after {
    content: 'arte';
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0px;
}

.logo.small {
    font-size: 2.5em;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 32px;
    padding: 20px 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    border-radius: 50px;
    transition: 200ms ease-in;
}

.button:hover,
.button:focus {
    outline: none;
    -webkit-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.35);
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.35);
    transition: 200ms ease-in;
}

.button.blue,
.button.blue:link {
    background: -webkit-linear-gradient(0deg, #28B2F0 0%,#2CD1ED 33%,#38E7E4 66%,#3DEFE1 100%);
    color: white;
    text-decoration: none;
}

.button.blue:hover,
.button.gray:hover {
    color: white;
}

.button.gray,
.button.gray:link {
    background: #A2A2A2;
    color: white;
    text-decoration: none;
}

.link {
    text-transform: uppercase;
    transition: 150ms ease-in;
}

.link:focus {
    outline: none;
    text-decoration: underline !important;
}

.link.gray:hover,
.link.gray:focus {
    color: rgb(110, 110, 110);
    transition: 150ms ease-in;
}

.link.gray,
.link.gray:link {
    text-decoration: none;
    color: #A2A2A2;
}

.uppercase {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

/* COLORS */
.blue {
    color: #28B2F0;
}

.blue:hover {
    color: rgb(30, 145, 199);
}

.gray {
    color: #A2A2A2;
}

.red {
    color: #DE1B1B;
}

.yellow {
    color: #EBC214;
}

.yellow:hover {
    color: rgb(168, 140, 14);
}

/* FONT STYLES */
.italic {
    font-style: italic;
}

.thin {
    font-weight: 200;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.black {
    font-weight: 900;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}